@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error!</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<hr />  
<h1 class="text-danger"><u><strong><em>@Model.ErrorMessage</em></strong></u></h1>