@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron ev-bg ">

    @if (!User.Identity.IsAuthenticated)
    {
        <h2>Eventures - The best ticket service in the world. </h2>
       <p class="hr-thick"></p>
        <h4><a asp-controller="Users" asp-action="Login">Login</a> to start "eventing".</h4>
        <h4><a asp-controller="Users" asp-action="Register">Register</a> if you don't have an account.</h4>
    }
    else
    {
        <h2 >Welcome, @User.Identity.Name! </h2>
        <p class="text-muted hr-thick" />
        <h4 class="text-muted"> Eventures wishes you an exciting experience.</h4>
    }
</div>